  <div class="container mt-100 mt-50" id="Services">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-5 pb-3">
                            <h4 class="title mb-4">Welcome To Doha Admin Panel</h4>
                           
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row g-3">


                    <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card blog blog-primary shadow rounded-md overflow-hidden">
                            <div class="card-body position-relative p-4">                        
                                <a href="admin/all-products" class="text-dark title h4 mt-3 mr-4"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
</svg> Manage Services</a>
                                <p class="text-muted"></p>
                                
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <a href="admin/all-products" class="btn btn-primary text-muted w-100">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->


                      <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card blog blog-primary bg-primary shadow rounded-md overflow-hidden">                    
                            <div class="card-body position-relative p-4">                      
                                <a href="" class="text-dark title h4 mt-3 mr-4"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg> Manage Site</a>
                                <p class="text-muted"></p>
                                
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <a href="admin/site-edit" class="btn btn-danger  w-100">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                              <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card blog blog-dark bg-primary shadow rounded-md overflow-hidden">                    
                            <div class="card-body position-relative p-4">                      
                                <a href="" class="text-dark title h4 mt-3 mr-4"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg> Manage Gallery</a>
                                <p class="text-muted"></p>
                                
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <a href="admin/all-gallery" class="btn btn-danger  w-100">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                      <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card blog blog-primary  shadow rounded-md overflow-hidden">
                            <div class="card-body position-relative p-4">
                                <a href="admin/all-users" class="text-dark title h4 mt-3 mr-4 "> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
</svg> Manage Users</a>
            <p class="text-muted"></p>
            <div class="mt-3 d-flex justify-content-between align-items-center">
                <a href="admin/all-users" class="btn btn-primary  w-100">Edit</a>
            </div>
        </div>
    </div>
</div><!--end col-->


                      <div class="col-6 col-sm-4 col-lg-4">
                        <div class="card blog blog-warning  shadow rounded-md overflow-hidden">
                            <div class="card-body position-relative p-4">
                                <a href="admin/all-users" class="text-dark title h4 mt-3 mr-4 "> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
  <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
</svg>Customers Enquiry</a>
            <p class="text-muted"></p>
            <div class="mt-3 d-flex justify-content-between align-items-center">
                <a href="admin/all-contact" class="btn btn-primary  w-100">Edit</a>
            </div>
        </div>
    </div>
</div><!--end col-->



                    <!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <br><br>